@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,600;0,700;1,200;1,300;1,500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    /* background-color: #EBF2F8 !important; */
}

h1,
.timestamp {
    text-align: center;
}

.timestamp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timestamp div {
    margin: 5px;
    padding: 10px 20px;
    box-shadow: 0px 0px 4px #ccc;
    width: 120px;
    height: 45px;
    background: #091420;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.timestamp div.created {
    background: #0C4D93;
}

.timestamp div.display {
    background: #7C96B0;
}

.timestamp div span {
    font-size: 15px;
    display: block;
    font-weight: normal;
}

input {
    color: #506E8D;
    background: #EBF2F8;
    border: 2px #506E8D;
    border-radius: 5px;
    min-width: 89%;
    margin: 5px auto;
    padding: 15px;
}

button {
    padding: 10px;
    color: #EBF2F8;
    background: #506E8D;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #d2dbe4b5;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.profile .about {
    padding: 10px;
    font-size: 14px;
}

.profile .about .title,
.profile .about div {
    margin: 0px !important;
    padding: 0px !important;
}

.profile .about .title {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.sending {
    background: #d2dbe4b5;
    box-shadow: none;
}

.form-wrapper {
    position: fixed;
    top: 0;
    background: rgba(9, 20, 32, .1);
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.hide {
    display: none;
}

form {
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    min-height: 200px;
    max-width: 300px;
    box-shadow: 0px 0px 2px #091420;
    color: #506E8D;
    background: #fff;
}

form .header {
    padding: 20px;
    border-bottom: 1px solid #506E8D;
    text-align: center;
}

form .header,
form .content {
    padding: 10px;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fff;
    color: #506E8D;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #ccc;
    padding: 10px;
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 10px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


#offline {
    width: 100%;
    height: 4px;
    background-color: red;
    text-align: center;
    border: none;
    position: fixed;
    top: 0;
    z-index: 2;
}

#offline .indicator {
    background-color: white;
    width: 10%;
    height: 4px;
    animation: indicator 5s infinite;
    animation-direction: right;
    position: relative;
}

@keyframes indicator {
    5% {
        background: black;
        left: 0px;
    }

    100% {
        background: rgb(248, 2, 76);
        left: 100%;
        right: 0px;
    }
}

.add-profile {
    cursor: pointer;
    z-index: 2;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    padding-bottom: 15px;
    background: #506E8D;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.add-profile:hover {
    background: #7C96B0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin .7s linear infinite;
  position: fixed;
  top: 40%;
  right: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h2, h5 {
    text-align: center;
}